html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Sen", sans-serif;
}

.grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 5fr;
    height: 100%;
}

.sidebar {
    grid-row: 1 / 6;
    grid-column: 1 / 2;
    background-color: #0096FF;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sidebar div {
    margin-left: 20%;
}

.header {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
}

.form-container {
    grid-column: 1 / 6;
}

.form-container input[type="search"] {
    margin-left: 15%;
    height: 30px;
    width: 70%;
    border-radius: 20px;
    border: none;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
    background-color: #e9e9e9;
    align-self: center;
}

.header > .notification {
    width: 25px;
    height: 25px;
    grid-column: 8;
    margin-left: 55%;
}

.header > .profile-icon {
    width: 50px;
    height: 50px;
}

.header >.top-right-name {
    margin-left: -50%;
}

.main-content {
    grid-row: 2 / 6;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr 4fr 4fr 1fr;
    background-color: lightgray;
    overflow-y: auto;
}

button {
    background-color: #0096FF;
    color: white;
    border-radius: 20px;
    border: none;
}

.second-profile-icon {
    width: 75px;
    height: 75px;
    margin-left: 35%;
}

h2 {
    margin-top: -10%;
}

.last-name {
    margin-top: 29%;
    margin-left: -55%;
}

.newButton {
    grid-column: 7;
    width: 70%;
    height: 40%;
    justify-self: center;
}

.uploadButton {
    grid-column: 8;
    width: 70%;
    height: 40%;
    justify-self: center;
}

.shareButton {
    grid-column: 9;
    width: 70%;
    height: 40%;
    justify-self: center;
}

h4 {
    grid-column: 2;
}

.main-content h3 {
    margin-left: 5%;
}

.main-content .announcements {
    grid-column: 3;
}

.card {
    border-left: 8px solid #FFD700;
    background-color: white;
    margin: 5%;
    border-radius: 10px;
}

.card-title {
    font-weight: bold;
    margin-left: 5%;
    margin-top: 7%
}

.card p {
    margin-top: 5%;
    margin-left: 5%;
}

.icon-grid {
    margin-bottom: -25%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(8, 1fr);
}

.icon-grid img {
    width: 25px;
    height: 25px;
}

.first-icon {
    grid-column: 6;
}

.second-icon {
    grid-column: 7;
}

.third-icon {
    grid-column: 8;
}

.announce-content {
    grid-column: 3;
    grid-row: 2 / 4;
    background-color: white;
    border-radius: 10px;
    margin: 5%;
    margin-bottom: 20%;
}

.announce-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5%;
}

.announce-flex p {
    margin-top: -5%;
    margin-bottom: 5%;
}

.announce-flex .underline {
    border-bottom: 2px solid lightgray;
}

.trending-title {
    margin-top: -20%;
}